@model PracticalUpImageWebApp.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductsModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductsPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsImage)
        </dt>
        <dd class = "col-sm-10">
            <a href="/images/@Model.ProductsImage" target="_blank"><img src="~/images/@Model.ProductsImage" width="100" class="img-thumbnail" /></a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
